<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar">
      <img class="jim" src="https://static.lexpress.fr/medias_2177/w_480,h_270,c_fill,g_north/v1375967826/dumb-and-dumber_1115037.jpg" alt="Jim">
    </div>
    <div class="container">
    <%= yield %>
    </div>

    <div class="footer"></div>
  </body>
</html>
